#root {
  /* border: 1px solid red; */
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  background: #000;
}

canvas {
  display: block;
  width: 100%;
  /* height: calc(100vh - 25px); */
  background: #000;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
